@page {
  size: A4;
}

:root {
  --color-mbox : rgba(0,0,0,0.2);
  --margin: 4px;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

#controls {
  display: none;
}

@media screen {

  body {
    background-color: whitesmoke;
  }

  .pagedjs_page {
    background-color: #fdfdfd;
    margin: auto;
    box-shadow: 0 0 0 1px var(--color-mbox);
  }

  #controls {
    margin: 20px 0;
    text-align: center;
    display: block;
  }

}

#page2 {
  break-before: page;
}
