@page {
  size: A4;
}

@media screen {

  body {
    background-color: whitesmoke;
  }

  .pagedjs_page {
    background-color: #fdfdfd;
    margin: auto;
    box-shadow: 0 0 0 1px var(--color-mbox);
  }

}

#page2 {
  break-before: page;
}
